# Ignore temporary files
.DS_Store
Thumbs.db
/.cache
var/
log/
logs/

# Ignore dependencies
node_modules

# Ignore secrets
.env
.env.*
!.env.example
/config.yaml

# Ignore backup files
backup/

# Ignore IDE files
.vscode/
